
  #bg {
    background-repeat:no-repeat;
    background-position: top;
    background-size: 1900px 920px;
    background-attachment:fixed ;
    

    
  }



  .custom-margin {
    margin-left: 20px; /* Adjust the value as needed */
  }

  

