{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonial App</title>
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
<body id="bg" style="background-image: url('{% static 'images/banner.jpg' %}');">

    {% include 'header.html' %}

    <p></p>
    
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}
    
    <!-- Load Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
