{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Magic Fix </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:contact' %}">Contact Us</a>
      </li>
    </ul>


      {% if user.is_authenticated %}

      <ul id="logged-in" class="navbar-nav ml-auto">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="">{{request.user}}</a>
        <div class="dropdown-menu" >

        <a class="dropdown-item" href="{% url 'app:message_inbox' %}">Inbox</a>
        <a class="dropdown-item"  href="{% url 'app:logout' %}">Logout</a>
        <a class="dropdown-item" href="{% url 'app:delete' %}">Delete account</a>
        <a class="dropdown-item" href="{% url 'password_change' %}">PasswordChange</a>









        </div>
      </li>
      </ul>
      {% endif %}

    
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script> var csrfToken = '{{ csrf_token }}';</script>
<script src="{% static 'js/header.js' %}"></script>


  
  

